I copied and pasted the list of fixtures from: https://draft.premierleague.com/league into a spreadsheet program and downloaded it as a csv. I will now clean the data and add it as a table in ym database

In [54]:
import pandas as pd
import pymysql

In [42]:
df = pd.read_csv('fixtures - Sheet1.csv')

In [43]:
df

,player_1,scores,player_2
0,Gameweek 30,NaN,NaN
1,All the Smallings\nShane Smith,0 - 0,Childish Gbaminos\nBen McCabe
2,Stop Crying Lampard\nDylan Payne,0 - 0,Ducks of Bethlehem\nDaragh Payne
3,Neuer Gonna Give You\nCiaran Lebrun,0 - 0,Obi-Wan Iwobi\nMatthew Farrelly
4,Gameweek 29,NaN,NaN
...,...,...,...
147,All the Smallings\nShane Smith,v,Stop Crying Lampard\nDylan Payne
148,Gameweek 38,NaN,NaN
149,Neuer Gonna Give You\nCiaran Lebrun,v,Childish Gbaminos\nBen McCabe
150,Obi-Wan Iwobi\nMatthew Farrelly,v,Stop Crying Lampard\nDylan Payne
151,Ducks of Bethlehem\nDaragh Payne,v,All the Smallings\nShane Smith

the patern seems to be a string indicating the gameweek followed by three fixtures. I will parse the gameweek from the string and create a list with the gameweek for each row

In [44]:
gameweek = []
indexes = []

for i in range(len(df)):
    li = df['player_1'].iloc[i].split()
    if li[0] == 'Gameweek':
        # appending the index of the rows with the gameweek string to drop them
        indexes.append(i)
        for i in range(3):
            gameweek.append(li[1])

In [45]:
gameweek

['30',
 '30',
 '30',
 '29',
 '29',
 '29',
 '28',
 '28',
 '28',
 '27',
 '27',
 '27',
 '26',
 '26',
 '26',
 '25',
 '25',
 '25',
 '24',
 '24',
 '24',
 '23',
 '23',
 '23',
 '22',
 '22',
 '22',
 '21',
 '21',
 '21',
 '20',
 '20',
 '20',
 '19',
 '19',
 '19',
 '18',
 '18',
 '18',
 '17',
 '17',
 '17',
 '16',
 '16',
 '16',
 '15',
 '15',
 '15',
 '14',
 '14',
 '14',
 '13',
 '13',
 '13',
 '12',
 '12',
 '12',
 '11',
 '11',
 '11',
 '10',
 '10',
 '10',
 '9',
 '9',
 '9',
 '8',
 '8',
 '8',
 '7',
 '7',
 '7',
 '6',
 '6',
 '6',
 '5',
 '5',
 '5',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '31',
 '31',
 '31',
 '32',
 '32',
 '32',
 '33',
 '33',
 '33',
 '34',
 '34',
 '34',
 '35',
 '35',
 '35',
 '36',
 '36',
 '36',
 '37',
 '37',
 '37',
 '38',
 '38',
 '38']

In [46]:
# Now that I have a list with the gameweeks and the indexes of the rows containing the gameweek string
# I will drop the unwanted rows and add the column noting the gameweek per row

df.drop(indexes,inplace=True)
df['gameweek']=gameweek

In [47]:
len(gameweek)

114

In [48]:
df

,player_1,scores,player_2,gameweek
1,All the Smallings\nShane Smith,0 - 0,Childish Gbaminos\nBen McCabe,30
2,Stop Crying Lampard\nDylan Payne,0 - 0,Ducks of Bethlehem\nDaragh Payne,30
3,Neuer Gonna Give You\nCiaran Lebrun,0 - 0,Obi-Wan Iwobi\nMatthew Farrelly,30
5,Childish Gbaminos\nBen McCabe,35 - 33,Ducks of Bethlehem\nDaragh Payne,29
6,All the Smallings\nShane Smith,53 - 73,Obi-Wan Iwobi\nMatthew Farrelly,29
...,...,...,...,...
146,Ducks of Bethlehem\nDaragh Payne,v,Neuer Gonna Give You\nCiaran Lebrun,37
147,All the Smallings\nShane Smith,v,Stop Crying Lampard\nDylan Payne,37
149,Neuer Gonna Give You\nCiaran Lebrun,v,Childish Gbaminos\nBen McCabe,38
150,Obi-Wan Iwobi\nMatthew Farrelly,v,Stop Crying Lampard\nDylan Payne,38
151,Ducks of Bethlehem\nDaragh Payne,v,All the Smallings\nShane Smith,38

In [49]:
# I only want this table to contain the fixtures so I will drop the scores of any fixtures which have alread taken place.
df.drop('scores',axis=1,inplace=True)

In [50]:
df

,player_1,player_2,gameweek
1,All the Smallings\nShane Smith,Childish Gbaminos\nBen McCabe,30
2,Stop Crying Lampard\nDylan Payne,Ducks of Bethlehem\nDaragh Payne,30
3,Neuer Gonna Give You\nCiaran Lebrun,Obi-Wan Iwobi\nMatthew Farrelly,30
5,Childish Gbaminos\nBen McCabe,Ducks of Bethlehem\nDaragh Payne,29
6,All the Smallings\nShane Smith,Obi-Wan Iwobi\nMatthew Farrelly,29
...,...,...,...
146,Ducks of Bethlehem\nDaragh Payne,Neuer Gonna Give You\nCiaran Lebrun,37
147,All the Smallings\nShane Smith,Stop Crying Lampard\nDylan Payne,37
149,Neuer Gonna Give You\nCiaran Lebrun,Childish Gbaminos\nBen McCabe,38
150,Obi-Wan Iwobi\nMatthew Farrelly,Stop Crying Lampard\nDylan Payne,38
151,Ducks of Bethlehem\nDaragh Payne,All the Smallings\nShane Smith,38

In [51]:
# I also only want to team name not the player name so I will remove the player names from the columns

player_1=[]
player_2=[]
for i in range(len(df)):
    pl1_list = df['player_1'].iloc[i].split('\n') 
    pl2_list = df['player_2'].iloc[i].split('\n')
    player_1.append(pl1_list[0])
    player_2.append(pl2_list[0])
    
df['player_1'] = player_1
df['player_2'] = player_2

In [52]:
df

                 player_1              player_2 gameweek
1       All the Smallings     Childish Gbaminos       30
2     Stop Crying Lampard    Ducks of Bethlehem       30
3    Neuer Gonna Give You         Obi-Wan Iwobi       30
5       Childish Gbaminos    Ducks of Bethlehem       29
6       All the Smallings         Obi-Wan Iwobi       29
..                    ...                   ...      ...
146    Ducks of Bethlehem  Neuer Gonna Give You       37
147     All the Smallings   Stop Crying Lampard       37
149  Neuer Gonna Give You     Childish Gbaminos       38
150         Obi-Wan Iwobi   Stop Crying Lampard       38
151    Ducks of Bethlehem     All the Smallings       38

[114 rows x 3 columns]

In [55]:
# I will now create a connection to my db I have already created in the GUI

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='password',
                             db='fantasy_football')

cursor = connection.cursor()

In [57]:
# Now I will iterate over my dataframe and add it to the table I have created in the GUI

sql = "INSERT INTO `fixtures` (`player_1`, `player_2`, `gameweek`) VALUES (%s, %s, %s)"

for i in range(len(df)):
    player_1 = df['player_1'].iloc[i]
    player_2 = df['player_2'].iloc[i]
    gameweek = df['gameweek'].iloc[i]
    cursor.execute(sql,(player_1,player_2 ,gameweek))
    connection.commit()